[project]
name = "devenv"
version = "0.1.0"
requires-python = ">=3.12"
dependencies = []

[dependency-groups]
docs = [
    "mkdocs>=1.6.1",
    "mkdocs-material>=9.7.0",
    "pymdown-extensions>=10.17.2",
]
